*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    color: rgb(43, 90, 71);
    font-size: 3.5em;
}
h2{
    color: rgb(100, 248, 188);
}
p {
    color: #f5f5f5;
    border: 2px solid lime;
    padding: 10px;
    line-height: 30px;
}
h2{
    font-weight: bold;
}
img{
    margin-top: 20px;
}
.link{
    border: 2px solid green;
}
button, img, .link{
    border-radius: 0.3em;
}
button, a{
    color: #f5f5f5;
    text-decoration: none;
    padding: 2px;
}
button, a.link{
    margin-right: 10px;
}
a:hover{
    color: cornflowerblue;
}

