* {
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin-right: 10px;
}
div.heading{
    background: #e8c7a3;
    padding: 40px 20px;
    margin: 5px 0;
}
a{
    color:cornflowerblue;
    text-decoration: none;
}
h1{
    color: darkgreen;
}
h2{
    color: #b86688;
}
h3{
    color: rgb(30, 48, 131);
}
h4{
    color: hsl(29, 66%, 30%);
}